* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
nav ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
body {
  margin: 0;
  font-family: sans-serif;
  background-color: black;
  color: white;
  text-align: center;
}
.container{
  display: flex;
  justify-content: center;
  gap: 0.625rem;
  padding: 1rem;
}

.box{
  width: 3.125rem;
  height: 3.125rem;
  border: 1px solid white;
  text-align: center;
}
.margin{
  margin-bottom: 0.625rem;
}